--index-url https://gitlab.com/api/v4/projects/70367030/packages/pypi/simple
--extra-index-url https://gitlab.com/api/v4/projects/70366720/packages/pypi/simple
--extra-index-url https://gitlab.com/api/v4/projects/70366855/packages/pypi/simple

pythonlab>=0.2
labscheduler>=0.3
laborchestrator>=0.3, <0.4
echo_server @ git+https://gitlab.com/OpenLabAutomation/device-integration/echo.git@main
